bin/
obj/
publish*/
installer/Output/
*.user
*.suo
.vs/
.vscode/
.github/upgrades/
ArsanGazERP_KaynakKodlari.txt
ArsanGazERP_*.zip
proje.txt
*.log_upgrade_backup_*/
*Backup*/
*.db
*.db-shm
*.db-wal
ArsanGazERP_KaynakKodlari*.txt
